version: '3.3'

services:
  nginx:
    env_file:
      - .env
      - .development_env

  api:
    build:
      context: ./api-service
      dockerfile: Dockerfile
      args:
        DOCKER_UID: ${DOCKER_UID}
        DOCKER_GID: ${DOCKER_GID}
    env_file:
      - .env
      - .development_env
    volumes:
      - ./api-service:/app

  ui:
    build:
      context: ./ui-service
      dockerfile: Dockerfile
      args:
        DOCKER_UID: ${DOCKER_UID}
        DOCKER_GID: ${DOCKER_GID}
    env_file:
      - .env
      - .development_env
    volumes:
      - ./ui-service:/app

  db:
    env_file:
      - .env
      - .development_env
    secrets:
      - POSTGRES_PASSWORD
      - POSTGRES_USER

  adminer:
   env_file:
      - .env
      - .development_env

secrets:
  POSTGRES_PASSWORD:
    file: .development_secrets/POSTGRES_PASSWORD
  POSTGRES_USER:
    file: .development_secrets/POSTGRES_USER
