.dockerignore
Dockerfile*

.gitignore
.jshintrc
.nvmrc
.rspec
.ruby-version
.ruby-gemset
.travis.yml
Capfile
README.md
/vendor.yml
/.bundle
/.git
/log
/public/assets
/shared
/spec
/scripts
/templates
/tmp
/travis

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

*.sqlite3
#*
*#
*~
~*
